*{
    margin: 0;
    padding: 0;
    font-family: cursive;    
}
#score p {
    font-size: 200%;
    color: rgba(71, 197, 247, 0.623);
    font-weight: 900;
}
#X,
#O{
    font-family:'Times New Roman', Times, serif;
    font-size: 150%;
}

#score{
    height: 20%;
    width: 30%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-around;
}
.page{
    background-color: rgb(3, 79, 109);
    height: 900px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
#tabuleiro {
    max-width: 415px;
    min-width: 415px;
    background-color: rgba(71, 197, 247, 0.623);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

#casa0,
#casa1,
#casa2,
#casa3,
#casa4,
#casa5,
#casa6,
#casa7,
#casa8,
#casa9{
    background-color: rgb(3, 79, 109);
    height: 130px;
    width: 130px;
    font-size: 100px;
    color:rgba(71, 197, 247, 0.623);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
}

#casa0,
#casa1,
#casa3,
#casa4{
    margin-bottom: 3%;
    margin-right: 3%;
}
#casa6,
#casa7{
    margin-right: 3%;
}

#reset {
    width: 150px;
    height: 50px;
    background-color: rgba(71, 197, 247, 0.623); 
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}