*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    font-weight: 600;    
}
#score p {
    font-size: 200%;
    color: rgba(71, 197, 247, 0.623);
    font-weight: 900;
}
#X,
#O{
    font-family:'Times New Roman', Times, serif;
    font-size: 150%;
}
#score{
    height: 20%;
    width: 30%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#score h1{
    font-size: 50px;
    color: rgba(71, 197, 247, 0.623);
    background-color: rgba(0, 0, 0, 0.089);
}
.page{
    background-color: rgb(3, 79, 109);
    height: 900px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
#tabuleiro {
    max-width: 414.9px;
    min-width: 414.9px;
    background-color: rgba(71, 197, 247, 0.623);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

#casa0,
#casa1,
#casa2,
#casa3,
#casa4,
#casa5,
#casa6,
#casa7,
#casa8,
#casa9{
    background-color: rgb(3, 79, 109);
    height: 130px;
    width: 130px;
    font-size: 100px;
    color:rgba(71, 197, 247, 0.623);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
}

#casa0,
#casa1,
#casa3,
#casa4{
    margin-bottom: 3%;
    margin-right: 3%;
}
#casa6,
#casa7{
    margin-right: 3%;
}
.reset-btns{
    width: 415px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#reset,
#reset-score {
    width: 200px;
    height: 60px;
    background-color: rgba(71, 197, 247, 0.623); 
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:350px) and (max-width: 450px){
    .page{
        height: 900px;
    }
    #tabuleiro {
        max-width: 300px;
        min-width: 300px;
        min-height: 300px;
        max-height: 300px; 
        margin-bottom: 20%;   
    }
    #casa0,
    #casa1,
    #casa2,
    #casa3,
    #casa4,
    #casa5,
    #casa6,
    #casa7,
    #casa8,
    #casa9{
        height: 96px;
        width: 94px;
        font-size: 100px;
        border: 0px;
    }
    #score{
        height: 20%;
        width: 30%;
        margin-bottom: 20%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .reset-btns{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
@media (min-width:540px) and (max-width: 915px){
    .page{
        height: 1200px;
    }
    #tabuleiro {
        max-width: 500px;
        min-width: 500px;
        min-height: 500px;
        max-height: 500px; 
        margin-bottom: 15%;   
    }
    #casa0,
    #casa1,
    #casa2,
    #casa3,
    #casa4,
    #casa5,
    #casa6,
    #casa7,
    #casa8,
    #casa9{
        height: 160px;
        width: 156.5px;
        font-size: 100px;
        border: 0px;
    }
    #score{
        height: 20%;
        width: 30%;
        margin-bottom: 5%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .reset-btns{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
@media (min-width:1000px) and (max-width: 2000px){
    .page{
        height: 800px;
    }
    #tabuleiro { 
        margin-bottom: 5%;   
    }
    #score{
        height: 20%;
        width: 30%;
        margin-bottom: 0%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .reset-btns{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}